<form name="asociadaForm" ng-submit="$ctrl.guardar();">
	<div class="form-group">
    	<label class="col-sm-2" for="nombre">Nombre</label>
    	<input class="col-sm-2" type="text" class="form-control"
    		id="nombre" placeholder="Nombre" ng-model="$ctrl.asociada.nombre"></input>
  	</div>

  	<div class="form-group">
    	<label class="col-sm-2" for="apellidos">Apellidos</label>
    	<input class="col-sm-2" type="text" class="form-control"
    		id="apellidos" placeholder="Apellidos" ng-model="$ctrl.asociada.apellidos"></input>
  	</div>

  	<div class="form-group">
    	<label class="col-sm-2" for="dni">DNI</label>
    	<input class="col-sm-2" type="text" class="form-control"
    		id="dni" placeholder="DNI" ng-model="$ctrl.asociada.dni"></input>
  	</div>

  	<div class="botonera pull-right">
  		<button class="btn btn-danger" type="button" ng-click="$ctrl.cancelar()">Cancelar</button>
  		<button class="btn btn-primary" type="submit">Guardar</button>
	</div>
</form>
