<div class="container-fluid">
	
	<div class="row-fluid">
		<h1 translate="entidad.concurso.title">Concursos</h1>
	</div>
	
	<div class="row-fluid">
		<div class="pull-right" ng-show="!$ctrl.showForm">
			<button class="btn btn-primary" ng-click="$ctrl.crear()">
				<i class="glyphicon glyphicon-plus"></i>
				<span translate="acciones.crear">Crear Concurso</span>
			</button>
		</div>
	
		<div>
			<form ng-show="$ctrl.showForm">
				<div class="form-group">
					<label translate="entidad.nombre">Nombre</label>
					<input type="text" ng-model="$ctrl.concurso.nombre"></input>
				</div>
				
				<div class="pull-right">
					<button class="btn btn-default" ng-click="$ctrl.cancelar()" type="button">
						<span translate="acciones.cancelar">Cancelar</span>
					</button>
					<button class="btn btn-primary" ng-click="$ctrl.guardar($ctrl.concurso)">
						<i class="glyphicon glyphicon-ok"></i>
						<span translate="acciones.guardar">Guardar</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row-fluid">
		<table ng-table="$ctrl.tableParams" class="table" show-filter="true">
		    <tr ng-repeat="concurso in $data">
		        <td data-title="'entidad.nombre' | translate" filter="{ nombre: 'text'}" sortable="'nombre'">
		            <a ng-if="!concurso.edit" ui-sref="concurso.get({id : {{concurso.id}}})">{{concurso.nombre}}</a>
		            <input ng-if="concurso.edit" type="text" class="col-md-9" ng-model="concurso.nombre"></input>
		        </td>
		        <td>
					<div class="pull-right">
						<div ng-if="concurso.edit">
							<button type="button" class="btn btn-default" ng-click="$ctrl.cancelarEdicion(concurso)">
								<i class="glyphicon glyphicon-repeat"></i>
							</button>
							<button type="button" class="btn btn-primary" ng-click="$ctrl.guardar(concurso)">
								<i class="glyphicon glyphicon-ok"></i>
							</button>
						</div>
						<div ng-if="!concurso.edit">
							<button type="button" class="btn btn-primary" ng-click="$ctrl.editar(concurso)">
								<i class="glyphicon glyphicon-pencil"></i>
							</button>
							<button type="button" class="btn btn-danger" ng-click="$ctrl.eliminar(concurso)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</div>
					</div>
		        </td>
		    </tr>
		</table>
	</div>
</div>