<li class="dropdown pointer">
 	<a class="dropdown-toggle" data-toggle="dropdown" role="button" href="" ng-if="languageVm.languages.length > 1">
 		<span>
 			<span class="glyphicon glyphicon-flag"></span>
 			<span class="hidden-sm" translate="menu.idiomas">Idioma</span>
 			<b class="caret"></b>
 		</span>
 	</a>
 	<ul class="dropdown-menu" ng-if="languageVm.languages.length > 1">
 		<li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
 			<a href="" ng-click="languageVm.changeLanguage(language); vm.collapseNavbar();">
 				{{language | findLanguageFromKey }}
			</a>
 		</li>
 	</ul>
 </li>